body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  --primary: #6658ea;
  --secondary: #dce0f3;
  --success: #34a0a4;
  --warning: #f5c070;
  --danger: #e63946;
  --dark: #1d3557;
  --white: #fafafa;
  --gray: #dce0f33a;
}
.App{
  background: transparent;
  min-height: 100vh;
}
p,h1,h2,h3,h4,h5{
  color: var(--dark);
}
.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.col {
  flex: 0 0 auto;
  width: 33.333%;
}
.container{
  width: 100%;
}
/* numeros sorteados */
.numbers{
  display: block;
  .number{
    display: inline-block;
    background: var(--secondary);
    width: 45px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin: 8px;
    &.active{
      background: var(--primary);
      color: var(--white);
      
    }
  }
}
/* acumulado */
.current-ball{
  padding-top: 40px;
  .ball{
    font-size: 90px;
    background: var(--white);
    color: var(--dark);
    display: inline-block;
    width: 50%;
    padding-top: calc(7% * 2);
    padding-bottom: calc(7% * 2);
    border-radius: 100%;
  }
}
.previous{
  display: block;
  background: var(--gray);
  border-radius: 30px;
  .ball{
    display: inline-block;
    background: var(--white);
    color: var(--dark);
    margin: 10px;
    font-size: 40px;
    width: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 100%;
  }
}
.b-0{
  border: 30px solid orange !important;
}
.b-1{
  border: 30px solid rgb(236, 86, 86) !important;
}
.b-2{
  border: 30px solid rgb(115, 196, 250) !important;
}
.b-3{
  border: 30px solid green !important;
}
.b-4{
  border: 30px solid greenyellow !important;
}
.b-5{
  border: 30px solid goldenrod !important;
}
.b-6{
  border: 30px solid coral !important;
}
.d-flex{
  display: flex;
}
/* cartelas */
.cards{
width: 70%;
margin-left: 30px;
  .card{
    display: block;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.16); 
    box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.16);
    margin-bottom: 30px;
    background: white;
    .title{
      color: var(--primary);
      margin-top: 0;
    }
    .number{
      display: inline-block;
      width: 45px;
      padding-top: 10px;
      padding-bottom: 15px;
      border-radius: 10px;
      background: var(--secondary);
      margin: 10px;
      &.active{
        background: var(--primary) !important;
        color: var(--white) !important;
      }
    }
  }
}
/* header */
.header{
  background: var(--dark);
  h1{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--white);
    padding: 20px;
  }
  .h-row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
  }
  .h-col {
    flex: 0 0 auto;
    width: 50%;
  }  
}
.btn{
  background: #fff;
  border: none;
  color: var(--dark);
  padding: 20px 30px;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.16); 
  box-shadow: 0px 0px 22px -2px rgba(0,0,0,0.16);
  margin: 10px;
  border-radius: 10px;
  &.primary{
    margin: 6px;
    border: 4px solid var(--primary);
    color: var(--primary);
  }
  &.danger{
    margin: 6px;
    border: 4px solid var(--danger);
    color: var(--danger);
  }
}
.btn:hover{
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
  &.danger{
    background: var(--danger);
    color: var(--white);
  }
}
.deco-none{
  text-decoration: none;
}
